<!-- <app-server></app-server> -->
<!-- STRING AS A SELECTOR -->

<!-- <div app-server></div> -->
<!-- attribute selector   -->

<!-- <div class="app-serverxx"></div> -->
<!-- CSS . SELECTOR FOR THE COMPONENT -->

<div class="container-fluid">
  <div class="app-serverxx"></div>
  <div class="app-serverxx"></div>

  <input (input)="inputchanged($event)" />
  <!-- one way data  binding using event binding -->

  <input [(ngModel)]="name" />
  <!-- two way data binding using ngmodel  -->
  .

  <br />
  name is : {{ name }}
  <br />

  <button
    [ngClass]="{'btn btn-danger':flag,'btn btn-success':!flag}"
    [disabled]="flag"
    [style.color]="color"
    (click)="changeColor()"
  >
    click me
  </button>
  <p [ngStyle]="{backgroundColor:color}">color is :{{ color }}</p>
  <p *ngIf="flag; else anothercode">company is : {{ company }}</p>
  <ng-template #anothercode  >
    this code is executed when if condition fails
  </ng-template>
</div>
