<!-- <app-server></app-server> -->   
            <!-- STRING AS A SELECTOR -->

<!-- <div app-server></div> --> 
            <!-- attribute selector   -->

<!-- <div class="app-serverxx"></div> --> 
            <!-- CSS . SELECTOR FOR THE COMPONENT -->

          <div class="container-fluid">
            <div class="app-serverxx"></div>
            <div class="app-serverxx"></div>
            <button  class="btn btn-danger" [(disabled)]="flag"  [style.color]="color"  > click me </button>
          </div>